@font-face {
    font-family: 'Cambria';
    src: url('Cambria.woff2') format('woff2'),
        url('Cambria.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

